# Python
__pycache__/
*.pyc
*.pyo
*.swp
.ipynb_checkpoints/
notebooks/**/.ipynb_checkpoints/

# Package install artifacts
*.egg-info/
dist/
build/

# clones
/darts

# Experiment artifacts
# experiments/*/checkpoints/*.ckpt   # temporarily disable to enable cross-machine experiments
experiments/*/version_*/checkpoints/
experiments/*/version_*/events.out.tfevents.*
experiments/*/version_*/metrics.csv
experiments/*/logs/
experiments/*/terminal.log
 *.whl

# Keep configs and metrics
!experiments/*/config.json
!experiments/*/final_metrics.json
!experiments/*/version_*/hparams.yaml

# Virtual environment
venv/
env/

# runtime artifacts
nohup.out
logs/

# macOS
.DS_Store

# Keep structure but ignore large files
!experiments/.gitkeep
!data/splits/.gitkeep

