# Python
__pycache__/
*.pyc
*.pyo
*.swp
.ipynb_checkpoints/
notebooks/**/.ipynb_checkpoints/

# Package install artifacts
*.egg-info/
dist/
build/

# Experiments (too large)
experiments/*/checkpoints/*.ckpt
experiments/*/logs/
*.whl

# Virtual environment
venv/
env/

# macOS
.DS_Store

# Keep structure but ignore large files
!experiments/.gitkeep
!data/splits/.gitkeep
